/* --- Estilos Generales de Texto --- */
h2 {
  color: #28a745;
}

label {
  font-weight: bold;
}

/* --- Estilos de Listas --- */
ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 5px;
  border-radius: 5px;
}

/* --- Estilos de Formularios --- */
form {
  margin-top: 20px;
}

/* Estilos para elementos input (genérico) */
input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Estilos específicos para input dentro de formularios */
form input {
  margin-right: 10px; /* Aplica solo a inputs dentro de form (si es deseado) */
}

/* Estilos específicos para input dentro de tablas */
table input {
  width: 100%; /* Aplica solo a inputs dentro de table */
}

/* --- Estilos de Botones --- */
button {
  padding: 8px 16px; /* Estilo general para botones */
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #145c32;
}

/* --- Estilos de Tablas --- */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

td {
  padding: 8px;
}

/* --- Estilos para las Pestañas (Componente) --- */
.tabs {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

.tab-header {
  display: flex;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}

.tab-button {
  background: none;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
  color: #28a745;
  border-bottom: 2px solid transparent;
}

.tab-button.active {
  border-bottom: 2px solid #28a745;
  color: #4a6572;
}

.tab-content {
  padding: 10px;
}

.tab-panel {
  display: none;
}

.tab-panel.active {
  display: block;
}

button[type="submit"] {
  background-color: #198754;
  color: #fff;
  border: 1.5px solid #145c32;
  border-radius: 5px;
  padding: 8px 16px;
  margin-right: 8px;
  cursor: pointer;
  transition: background 0.2s;
}
button[type="submit"]:hover {
  background-color: #145c32;
}

button.btn-limpiar {
  background-color: #198754;
  color: #fff;
  border: 1.5px solid #145c32;
  border-radius: 5px;
  padding: 8px 16px;
  margin-right: 8px;
  cursor: pointer;
  transition: background 0.2s;
}
button.btn-limpiar:hover {
  background-color: #145c32;
}

button.btn-cancelar {
  background-color: #dc3545;
  color: #fff;
  border: 1.5px solid #a71d2a;
  border-radius: 5px;
  padding: 8px 16px;
  cursor: pointer;
  transition: background 0.2s;
}
button.btn-cancelar:hover {
  background-color: #a71d2a;
}
