<!-- Componente de inicio de sesión -->
<div class="login-container">
    <!-- Header -->
    <header class="login-header">
      <img src="assets/images/login-logo.png" alt="Logo" class="login-logo" />
      <h1>Bienvenido</h1>
    </header>

  <!-- Contenido principal -->
  <div class="login-register-container">
    <!-- Formulario de inicio de sesión -->
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="login-section">
      <h2>Iniciar sesión</h2>
      <div class="form-group">
        <label for="username">Usuario:</label>
        <input id="username" formControlName="username" type="text" placeholder="Ingresa tu usuario" />
      </div>
      <div class="form-group">
        <label for="password">Clave:</label>
        <input id="password" formControlName="password" type="password" placeholder="Ingresa tu clave" />
      </div>
      <div class="button-container"></div>
        <!-- Mensaje de error al registrar -->
        <button type="button" class="btn-login btn-limpiar" (click)="resetForm()">Limpiar</button>
        <!-- Mensaje de inicio de sesion -->
        <button type="submit" class="btn-login btn-iniciar" [disabled]="loginForm.invalid">Iniciar Sesión</button>
        <!-- Mensaje de error al iniciar sesión -->
        <p *ngIf="loginError" class="error-message">{{ loginError }}</p>
        <p class="forgot-password" >Olvidé mi contraseña</p>
      </div>
    </form>

    <!-- Sección de registro -->
    <div class="register-section">
      <h2>Nuevo usuario</h2>
      <p>Crea tu cuenta, se recomienda usar el correo del colegio como referencia.</p>
      <!-- <button type="button" class="btn-login btn-crear">Crear cuenta</button> -->
       <a routerLink="/login-registro" class="btn-link-crear">Crear cuenta</a>
      <br>
      <a routerLink="/opciones" class="login-link">Ir a Opciones</a>
      <br>
      <a routerLink="/inicio" class="login-link">Ir a Inicio</a>
    </div>

  </div>

  <!-- Footer -->
  <footer class="login-footer">
    <p>© 2025 Plataforma Educativa</p>
  </footer>
</div>
<!-- Fin del contenedor principal -->
