form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 0 auto;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
}

input {
  margin-bottom: 15px;
  padding: 8px;
  font-size: 14px;
}

button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.link-container {
  text-align: center;
  margin-top: 15px;
}

.options-link {
  color: #007bff;
  text-decoration: none;
  font-size: 14px;
}

.options-link:hover {
  text-decoration: underline;
}

.login-container {
  text-align: center;
}

.login-logo {
  width: 250px; /* Ajusta el tamaño según sea necesario */
  height: auto;
  margin-bottom: 10px;
  border-style:outset;
}

.to-options {
  display: block;
  text-align: center;
  margin-top: 20px;
  color: #007bff;
  text-decoration: none;
  font-size: 16px;
}

.to-options:hover {
  text-decoration: underline;
}

/* login-register.component.css */
.login-register-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  font-family: sans-serif;
}

.login-section, .register-section {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 10px;
  width: 150px;
}

h2 {
  color: #333;
  margin-bottom: 15px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #555;
}

input[type="text"],
input[type="password"] {
  width: calc(100% - 12px);
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
  background-color: #f0f0f0;
  color: #333;
  border: 1px solid #ccc;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
}

button:hover {
  background-color: #e0e0e0;
}

.forgot-password {
  margin-top: 10px;
  font-size: 0.9em;
  color: #007bff;
  cursor: pointer;
}

.forgot-password:hover {
  text-decoration: underline;
}