/* diccionario de datos */

.tableContainer{
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* shadow-md equivalente */
    border-radius: 0.5rem; /* rounded-lg */
    overflow: hidden;
    width: auto;
}
.tableContainer table{
    width: 100%;
    table-layout: auto;
}
.tableHead{
    box-sizing: border-box;
    background-color: #F3F4F6;
    font-size: small;
    color: oklch(0.551 0.027 264.364);
    border: 0 solid;
    border-bottom: 1px solid #000000;
}

.tableHead tr th{
    padding: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px #000000 solid;
    border-bottom-style:groove;
}

.tableBody{
    border-top: 1px solid #e5e7eb;
}

.tableBody tr:hover{
    background-color: #F9FAFB;
}

.tdS{
    font-size: 14px;
    padding: 1rem;
    color: oklch(0.551 0.027 264.364);
}
.tdN{
    font-size: small;
    color: #000000;
    font-weight: bold;
}

.pagination{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: small;
    margin: 0px 20px 0px 20px;
}

.buttonPagination{
    display: flex;
    flex-grow: 10px;
    justify-content: space-around;
}

.buscarAnt{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: flex-start;
    gap: 10px;
    margin-bottom: 15px;
    font-size: 15px;
    color: oklch(0.400 0.027 264.364);
}
.buscarAnt input{
    border-radius: solid 0.6rem #80e495;
    font-size: 15px;
    padding: 0.5em;
    width: 400px;
}