<!-- <h2>Muro - Perfil Admin Pri</h2> -->
<!-- <p>Este es el contenido predeterminado que se muestra al ingresar al perfil de administrador principal.</p> -->
<!-- Contadores -->
<div class="counters">
  <div class="counter-item">
    <h3>Colegios</h3>
    <p>{{ totalColegios }}</p>
  </div>
  <div class="counter-item">
    <h3>Profesores</h3>
    <p>{{ totalProfesores }}</p>
  </div>
  <div class="counter-item">
    <h3>Alumnos</h3>
    <p>{{ totalAlumnos }}</p>
  </div>
  <div class="counter-item">
    <h3>Cursos</h3>
    <p>{{ totalCursos }}</p>
  </div>
</div>

<!-- Gráficas lado a lado -->
<div class="flex flex-col md:flex-row gap-8 my-8">
  <!-- Gráfico 01: Progreso de Participantes -->
  <div class="flex-1">
    <h3 class="font-bold text-green-700 mb-3" style="font-weight: bold;">Progreso de Participantes</h3>
    <canvas id="progressChart" width="400" height="200"></canvas>
  </div>
  <!-- Gráfico 02: Alumnos por Aula (Primaria) -->
  <div class="flex-1">
    <h3 class="font-bold text-green-700 mb-3" style="font-weight: bold;">Alumnos por Aula (Primaria)</h3>
    <canvas id="aulasChart" width="400" height="200"></canvas>
  </div>
</div>

<!-- Botones Extra -->
<div class="academico-grid">
  <div class="academico-item">
    <img src="../assets/images/cursos.png" alt="Logo" class="login-logo img-50" />
    <div class="academico-info">
      <span class="academico-title">CURSOS</span>
      <button class="academico-btn" disabled>Ver más</button>
    </div>
  </div>
  <div class="academico-item">
    <img src="../assets/images/niveles.png" alt="Logo" class="login-logo img-50" />
    <div class="academico-info">
      <span class="academico-title">NIVELES</span>
      <button class="academico-btn" disabled>Ver más</button>
    </div>
  </div>
  <div class="academico-item">
    <img src="../assets/images/grados.png" alt="Logo" class="login-logo img-50" />
    <div class="academico-info">
      <span class="academico-title">GRADOS</span>
      <button class="academico-btn" disabled>Ver más</button>
    </div>
  </div>
  <div class="academico-item">
    <img src="../assets/images/secciones.png" alt="Logo" class="login-logo img-50" />
    <div class="academico-info">
      <span class="academico-title">SECCIONES</span>
      <button class="academico-btn" disabled>Ver más</button>
    </div>
  </div>
</div>
<!-- Fin Botones -->
