/*
Estilos globales para el componente raíz
*/
/* Estilo global para enlaces */
a {
  color: inherit; /* Asegúrate de que los enlaces hereden el color del contenedor */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
