/* Estilo global para enlaces */
a {
  color: inherit;             /* Asegúrate de que los enlaces hereden el color del contenedor */
  text-decoration: none;      /* Sin subrayado por defecto */
}

a:hover {
  text-decoration: underline; /* Subrayado al pasar el ratón */
}
