/* ==========================================================================
   Layout General del Portal
   ========================================================================== */

   .portal-container {
    display: flex;
    height: 70vh;
    overflow: hidden;
  }

  .main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: auto;
  }

  .content {
    padding: 20px;
    flex: 1;
    overflow-y: auto;
  }

  /* ==========================================================================
     Barra Superior (Top Bar)
     ========================================================================== */

  .top-bar {
    background-color: #f0f0f0;  /* Fondo gris claro */
    padding: 10px;
    border-bottom: 1px solid #ccc;  /* Borde fino */
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
  }

  /* ==========================================================================
     Barra Lateral (Sidebar)
     ========================================================================== */

  .sidebar {
    background-color: #4EAD4F;  /* Fondo verde */
    /* Cambia el color de fondo */
    color: white; /* Texto blanco */
    width: 250px;
    transition: width 0.3s ease-in-out;
    overflow-y: auto;
  }

  .sidebar.menu-open {
    width: 250px;
  }

  .sidebar:not(.menu-open) {
    width: 60px; /* Ancho del menú cerrado */
  }

  /* Logo del Sidebar */
  .sidebar .logo {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #4a6572; /* Color de fondo para el item activo */
  }

  .sidebar .logo span {
    margin-left: 10px;
    font-size: 1.2em;
    font-weight: bold;
  }

  .sidebar:not(.menu-open) .logo span {
    display: none; /* Ocultar el texto del logo */
  }

  /* Botón para togglear el menú */
  .sidebar .menu-toggle {
    background-color: transparent;  /* Fondo transparente */
    border: none;
    color: white; /* Texto blanco */
    font-size: 1.2em;
    cursor: pointer;
    margin-right: 10px;
    padding: 5px;
  }

  /* Lista del menú */
  .sidebar .menu {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  /* Items del menú */
  .sidebar .menu .menu-item {
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: background-color 0.2s ease;
  }

  .sidebar .menu .menu-item:hover {
    background-color: #218838;  /* Verde más oscuro al pasar el cursor */
  }

  .sidebar .menu .menu-item.active {
    background-color: #4a6572;  /* Color de fondo para el item activo */
    font-weight: bold;
  }

  .sidebar:not(.menu-open) .menu-item {
    padding: 10px;
    text-align: center;
  }

  /* Iconos de los items del menú */
  .sidebar .menu .menu-item i {
    margin-right: 10px;
    font-size: 1.1em;
  }

  /* Texto de los items del menú */
  .sidebar .menu .menu-item span {
    display: inline-block; /* Mostrar el texto */
    opacity: 1;
    transition: opacity 0.3s ease;
  }

  .sidebar.menu-open .menu-item span {
    opacity: 1;
  }

  .sidebar:not(.menu-open) .menu-item span {
    opacity: 0;      /* Ocultar el texto de los items del menú */
    display: none;
  }

  /* ==========================================================================
     Layout de la Sección de Perfil de Administrador
     ========================================================================== */

  .perfil-admin-sec-layout {
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #F3FEF5;  /* Fondo claro */
    border-radius: 5px;
  }

  /* ==========================================================================
     Enlace para Volver a las Opciones
     ========================================================================== */

  .back-to-options {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 15px;
    background-color: #4EAD4F; /* Fondo verde */
    color: white; /* Texto blanco */
    text-decoration: none;
    border: 1px solid #218838;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s, color 0.3s;
  }

  .back-to-options:hover {
    background-color: #218838;  /* Verde más oscuro al pasar el cursor */
    color: #fff;  /* Fondo blanco */
    text-decoration: none;
  }

  /* Header */
.login-header {
  display: flex; /* Activa el diseño flexbox */
  align-items: center; /* Centra verticalmente los elementos */
  justify-content: space-between; /* Coloca el logo a la izquierda y el texto a la derecha */
  background-color: #4EAD4F; /* Fondo verde */
  color: white; /* Texto blanco */
  padding: 10px;
  border: 1px solid #ccc; /* Borde fino */
}

.login-logo {
  width: 100px; /* Ajusta el tamaño del logo */
  height: auto;
  margin-right: 20px; /* Espacio entre el logo y el texto */
}

.login-header h1 {
  margin: 0; /* Elimina el margen del título */
  font-size: 1.5em; /* Ajusta el tamaño del texto */
  text-align: right; /* Alinea el texto a la derecha */
}

/* Footer */
.login-footer {
  background-color: #4EAD4F; /* Fondo verde */
  color: white; /* Texto blanco */
  padding: 10px;
  text-align: center;
  border: 1px solid #ccc; /* Borde fino */
}

.menu-item a {
  color: white;
  text-decoration: none;
}

.menu-item a.disabled {
  pointer-events: none; /* Desactiva clics */
  color: #ccc; /* Cambia el color para indicar que está deshabilitado */
  cursor: not-allowed; /* Cambia el cursor */
}
