<!-- commercial-management-layout.component.html -->
<div class="layout-container">
    <header class="layout-header">
      <span>Sistema de Gestión Comercial</span>
  
      <div class="user-info">
        <span class="user-name">{{ name }}</span>
        <div class="status-indicator">
          <div class="ping"></div>
          <div class="dot"></div>
        </div>
      </div>
    </header>
  
    <nav class="layout-nav">
      <div class="nav-links">
        <a
          [routerLink]="['/gestion-comercial']"
          [ngClass] =
            "{'active-link': isActive('/gestion-comercial') &&
              !isActive('/gestion-comercial/avisos-debito') &&
              !isActive('/gestion-comercial/anticipos'),
            'inactive-link': !(isActive('/gestion-comercial') &&
              !isActive('/gestion-comercial/avisos-debito') &&
              !isActive('/gestion-comercial/anticipos'))
            }"
        >
          Dashboard
        </a>
        <a
          [routerLink]="['/gestion-comercial/avisos-debito']"
          [ngClass]="{
            'active-link': isActive('/gestion-comercial/avisos-debito'),
            'inactive-link': !isActive('/gestion-comercial/avisos-debito')
          }"
        >
          Avisos de Débito
        </a>
        <a
          [routerLink]="['/gestion-comercial/anticipos']"
          [ngClass]="{
            'active-link': isActive('/gestion-comercial/anticipos'),
            'inactive-link': !isActive('/gestion-comercial/anticipos')
          }"
        >
          Anticipos
        </a>
      </div>
      <div class="layout-content">
        <router-outlet></router-outlet>
      </div>
    </nav>
  </div>
  