<p>Tablas para Configurar la Plataforma</p>

<div class="academico-grid">

  <div class="academico-item">
    <img src="../assets/images/cursos.png" alt="Logo" class="login-logo" />
    <a class="academico-title">CURSOS</a>
  </div>

  <div class="academico-item">
    <img src="../assets/images/niveles.png" alt="Logo" class="login-logo" />
    <a class="academico-title">NIVELES</a>
  </div>

  <div class="academico-item">
    <img src="../assets/images/grados.png" alt="Logo" class="login-logo" />
    <a class="academico-title">GRADOS</a>
  </div>

  <div class="academico-item">
    <img src="../assets/images/secciones.png" alt="Logo" class="login-logo" />
    <a class="academico-title">SECCIONES</a>
  </div>

</div>

<!-- <div class="academico-grid">
  <div class="academico-item" *ngFor="let academico of academicos">
    <img [src]="academico.image" alt="{{ academico.title }}" />
    <a [routerLink]="academico.link" class="academico-title">{{ academico.title }}</a>
  </div>
</div> -->
