<div class="opciones-container">
  <!-- Header -->
  <header class="login-header">
    <img src="assets/images/login-logo.png" alt="Logo" class="login-logo" />
    <h1>Perfiles de la Plataforma</h1>
  </header>

  <!-- Contenido principal -->
  <main class="opciones-content">
    <div class="table-container">
      <!-- Tabla de Perfiles -->
      <table class="modern-table" border="1" cellspacing="0" cellpadding="5">
        <thead>
          <tr [vAlign]="'top'" [align]="'left'">
            <th>Nro</th>
            <th>Perfil</th>
            <th>Ícono</th>
          </tr>
        </thead>
        <tbody>
          <!-- Perfil Super Administrador -->
          <tr>
            <td>01</td>
            <td><a routerLink="/perfil-admin-pri" class="login-link">Super Admin</a></td>
            <td><i class="fas fa-user-shield"></i></td>
          </tr>
          <!-- Perfil Administrador - Colegio -->
          <tr>
            <td>02</td>
            <td><a routerLink="/perfil-admin-sec" class="login-link">Administrador</a></td>
            <td><i class="fas fa-user-cog"></i></td>
          </tr>
          <!-- Perfil Docente - Colegio -->
          <tr>
            <td>03</td>
            <td><a routerLink="/perfil-docente" class="login-link">Docente</a></td>
            <td><i class="fas fa-chalkboard-teacher"></i></td>
          </tr>
          <!-- Perfil Estudiante - Colegio -->
          <tr>
            <td>04</td>
            <td><a routerLink="/perfil-estudiante" class="login-link">Estudiante</a></td>
            <td><i class="fas fa-user-graduate"></i></td>
          </tr>
          <!-- Perfil Familia -->
          <tr>
            <td>05</td>
            <td><a routerLink="/perfil-familia" class="login-link">Familia</a></td>
            <td><i class="fas fa-users"></i></td>
          </tr>
        </tbody>
      </table>

      <!-- Imagen en el espacio vacío -->
      <div class="empty-space">
        <img src="assets/images/lead-perfiles.png" alt="Imagen decorativa" />
      </div>

    </div>
  </main>

    <!-- Enlace para regresar al login -->
    <div class="link-container">
      <a routerLink="/login" class="back-to-login">Regresar al Login</a>
    </div>

  <!-- Footer -->
  <footer class="login-footer">
    <p>© 2025 Plataforma Educativa</p>
  </footer>

</div>
<!-- Fin del contenedor principal -->
