<img src="assets/images/login-logo.png" alt="Logo" class="login-logo" />

<h2>Perfiles de la Plataforma:</h2>

<table class="options-table">
  <thead>
    <tr>
      <th>Nro</th>
      <th>Perfil</th>
      <th>Ícono</th>
    </tr>
  </thead>
  <tbody>
    <!-- Perfil Super Adminsitrador-->
    <tr>
      <td>1</td>
      <td><a routerLink="/perfil-admin-pri">Super Admin</a></td>
      <td><i class="fas fa-user-shield"></i></td>
    </tr>
    <!-- Perfil Adminsitrador - Colegio-->
    <tr>
      <td>2</td>
      <td><a routerLink="/opcion1">Administrador</a></td>
      <td><i class="fas fa-user-cog"></i></td>
    </tr>
    <!-- Perfil Docente - Colegio-->
    <tr>
      <td>3</td>
      <td><a routerLink="/opcion2">Docente</a></td>
      <td><i class="fas fa-chalkboard-teacher"></i></td>
    </tr>
    <!-- Perfil Estudiante - Colegio-->
    <tr>
      <td>4</td>
      <td><a routerLink="/opcion3">Estudiante</a></td>
      <td><i class="fas fa-user-graduate"></i></td>
    </tr>
    <tr>
      <td>5</td>
      <td><a routerLink="/opcion3">Familia</a></td>
      <td><i class="fas fa-users"></i></td>
    </tr>
  </tbody>
</table>

<!-- Enlace para regresar al login -->
<div class="link-container">
  <a routerLink="/" class="back-to-login">Regresar al Login</a>
</div>