h2 {
    text-align: center;
    color: #333;
  }
  
  p {
    text-align: center;
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
  }
  
  li {
    margin: 10px 0;
  }
  
  a {
    color: #007bff;
    text-decoration: none;
    font-size: 16px;
  }
  
  a:hover {
    text-decoration: underline;
  }

  .link-container {
    text-align: center;
    margin-top: 20px;
  }
  
  .back-to-login {
    color: #007bff;
    text-decoration: none;
    font-size: 16px;
  }
  
  .back-to-login:hover {
    text-decoration: underline;
  }

  .login-logo {
    width: 250px; /* Ajusta el tamaño según sea necesario */
    height: auto;
    margin-bottom: 20px;
    /* border-style:outset; */
  }
  
  /* Header */
.login-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #28a745; /* Fondo verde */
  color: white; /* Texto blanco */
  padding: 10px;
  border: 1px solid #ccc; /* Borde fino */
}

.login-logo {
  width: 150px; /* Incrementa el tamaño en un 50% (antes era 100px) */
  height: auto; /* Mantiene la proporción del logo */
  margin-bottom: 20px;
}

.login-header h1 {
  margin: 0;
  font-size: 1.5em;
}

/* Footer */
.login-footer {
  background-color: #28a745; /* Fondo verde */
  color: white; /* Texto blanco */
  padding: 10px;
  text-align: center;
  border: 1px solid #ccc; /* Borde fino */
}

/* Contenedor principal */
.opciones-container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Contenido principal */
.opciones-content {
  padding: 20px;
  text-align: center;
}

/* Estilo para las celdas de la tabla */
.options-table td {
  text-align: left; /* Alinea el texto a la izquierda */
  padding: 8px; /* Agrega un poco de espacio interno */
}

.options-table th {
  text-align: left; /* Alinea los encabezados a la izquierda */
  padding: 8px; /* Agrega un poco de espacio interno */
}