<h2>Bienvenido al Muro - Perfil Estudiante</h2>
<!-- <p>Este es el contenido predeterminado que se muestra al ingresar al perfil de administrador principal.</p> -->
<!-- Contadores -->
<div class="counters">
  <div class="counter-item">
    <h3>Colegios</h3>
    <p>{{ totalColegios }}</p>
  </div>
  <div class="counter-item">
    <h3>Profesores</h3>
    <p>{{ totalProfesores }}</p>
  </div>
  <div class="counter-item">
    <h3>Alumnos</h3>
    <p>{{ totalAlumnos }}</p>
  </div>
  <div class="counter-item">
    <h3>Cursos</h3>
    <p>{{ totalCursos }}</p>
  </div>
</div>

<!-- Gráfica -->
<div class="academico-grid">
  <div class="academico-item">
    <img src="../assets/images/cursos.png" alt="Logo" class="login-logo" />
    <a class="academico-title">CURSOS</a>
  </div>

  <div class="academico-item">
    <img src="../assets/images/niveles.png" alt="Logo" class="login-logo" />
    <a class="academico-title">NIVELES</a>
  </div>

  <div class="academico-item">
    <img src="../assets/images/grados.png" alt="Logo" class="login-logo" />
    <a class="academico-title">GRADOS</a>
  </div>

  <div class="academico-item">
    <img src="../assets/images/secciones.png" alt="Logo" class="login-logo" />
    <a class="academico-title">SECCIONES</a>
  </div>
</div>

<!-- Gráfica -->
<div class="chart-container">
  <h3>Progreso de Participantes</h3>
  <canvas id="progressChart"></canvas>
</div>
